body{
	background-color: #232323;
	margin: 0;
	font-family: "Montserrat";
}

h1{
	text-align: center;
	color : rgb(255 ,255 , 255);
	background-color: steelblue;
	margin:0;
	font-weight: normal;
	text-transform: uppercase;
	line-height: 1.1;
	padding: 20px 0 ;
}

#colorDisplay{
	font-size: 200%;
}

.square{
	background-color: purple;
	width: 30%;
	padding-bottom: 30%;
	float: left; 
	margin: 1.66%;
	border-radius: 15%;
	transition: background 0.5s; 
	-webkit-transition : background 0.5s;
	-moz-transition:background 0.5s;
}

#container{
	margin : 20px auto;
	max-width: 600px;
}

span{
	color: white;
}

#message{
	color: black;
	width:20%;
	display: inline-block;
}

#stripe{
	background-color: white;
	height: 30px;
	margin:0 auto;
	text-align: center;
}

.selected{
	background-color: steelblue;
	color: white;
}

button{
	border:none;
	background: none;
	text-transform: uppercase;
	font-style: "Montserrat";
	height: 100%;
	font-weight: 700;
	color: steelblue ;
	letter-spacing: 1px;
	font-size: inherit;
	transition: all 0.4s;
	outline: none;
}

button:hover{
	color: white;
	background: steelblue;
}