body{
	background-color: #232323;
}

h1{
	color : rgb(255 ,255 , 255);
}

.square{
	background-color: purple;
	width: 30%;
	padding-bottom: 30%;
	float: left; 
	margin: 1.66%;
}

#container{
	
	margin : 0px auto;
	max-width: 600px;
}

span{

	color: white;
}

#message{
	color: black;
}

#stripe{
	background-color: white;
	height: 30px;
	margin:0 auto;
	text-align: center;
}